In [2]:
!which python

/home/pety/anaconda3/envs/p4ds-env/bin/python

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("Covid_data.csv",thousands=',',skipinitialspace=True)
df.head()

,Unnamed: 0,country,continent,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,serious,cases/1M_pop,deaths/1M_pop,total_tests,tests/1M_pop,population,Date
0,0,China,Asia,82995,2.0,4634.0,NaN,78288.0,73.0,4.0,58.0,3.0,NaN,NaN,1.439324e+09,2020-05-28
1,1,USA,North America,1768461,22658.0,103330.0,1223.0,498725.0,1166406.0,17202.0,5346.0,312.0,16331312.0,49365.0,3.308276e+08,2020-05-28
2,2,Brazil,South America,438812,24151.0,26764.0,1067.0,193181.0,218867.0,8318.0,2066.0,126.0,871839.0,4104.0,2.124222e+08,2020-05-28
3,3,Russia,Europe,379051,8371.0,4142.0,174.0,150993.0,223916.0,2300.0,2598.0,28.0,9701280.0,66479.0,1.459290e+08,2020-05-28
4,4,Spain,Europe,284986,1137.0,27119.0,1.0,196958.0,60909.0,854.0,6096.0,580.0,3556567.0,76071.0,4.675320e+07,2020-05-28

Xóa đi cột Unnamed:0 vì đây là cột index nên không có  ý nghĩa

In [6]:
df.drop("Unnamed: 0",axis = 1,inplace = True)

## I. Khám phá dữ liệu

### 1. Dữ liệu có bao nhiêu hàng và cột

In [10]:
df.shape

(5375, 15)

#### Ý nghĩa của các trường dữ liệu
* Country : Tên các quốc gia có trong tập dataset
* Continent : Châu lục tương ứng của từng quốc gia
* total_cases : tổng số ca nhiễm virus tính đến thời điểm ngày đang xét
* new_cases : Số ca nhiễm mới của ngày hôm đó
* total_deaths : Tổng số người chết tính đến thời điểm ngày đang xét
* new_deaths : Số người chết mới ngày hôm đó
* total_recovered : Tổng số người đã hồi phục tới thời điểm đang xét
* active_cases : Những ca vẫn còn nhiễm bệnh
* serious : Những ca bệnh nghiêm trọng 
* cases/1M_pop: Số ca nhiễm trung bình trên 1 triệu người 
* deaths/1M_pop: Số người chết trung bình trên 1 triệu người
* total_tests : Tổng số test được thực hiện 
* tests/1M_pop: Số test trung bình trên 1 triệu người
* population : Tổng số dân của đất nước đó
* Date : Ngày tháng năm đang xét

### 2. Tạo thêm 1 file phân theo khu vực để tiện cho phân tích 

Đây là data sau khi group by theo các continent

In [71]:
df1 = df[df['Date']=='2020-05-28']
df1.head()

,country,continent,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,serious,cases/1M_pop,deaths/1M_pop,total_tests,tests/1M_pop,population,Date
0,China,Asia,82995,2.0,4634.0,NaN,78288.0,73.0,4.0,58.0,3.0,NaN,NaN,1.439324e+09,2020-05-28
1,USA,North America,1768461,22658.0,103330.0,1223.0,498725.0,1166406.0,17202.0,5346.0,312.0,16331312.0,49365.0,3.308276e+08,2020-05-28
2,Brazil,South America,438812,24151.0,26764.0,1067.0,193181.0,218867.0,8318.0,2066.0,126.0,871839.0,4104.0,2.124222e+08,2020-05-28
3,Russia,Europe,379051,8371.0,4142.0,174.0,150993.0,223916.0,2300.0,2598.0,28.0,9701280.0,66479.0,1.459290e+08,2020-05-28
4,Spain,Europe,284986,1137.0,27119.0,1.0,196958.0,60909.0,854.0,6096.0,580.0,3556567.0,76071.0,4.675320e+07,2020-05-28

In [61]:
frame= df1.groupby('continent').sum()
frame

,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,serious,cases/1M_pop,deaths/1M_pop,total_tests,tests/1M_pop,population
continent,,,,,,,,,,,,
Africa,131587,4949.0,3814.0,104.0,55126.0,72647.0,352.0,19143.9,297.27,2054822.0,231813.0,1.337357e+09
Asia,1051266,25111.0,29120.0,439.0,621744.0,400402.0,13699.0,59213.0,437.50,17478141.0,1165686.0,4.606618e+09
Australia/Oceania,8759,12.0,125.0,1.0,8155.0,479.0,5.0,883.9,8.00,1654389.0,147743.0,4.086680e+07
Europe,1969899,19816.0,171568.0,937.0,947902.0,579092.0,9377.0,147229.0,8227.00,34848626.0,2596496.0,7.475916e+08
North America,1981187,28561.0,120174.0,1828.0,622301.0,1238712.0,19461.0,29835.0,1776.00,18611722.0,638607.0,5.886820e+08
Other,721,0.0,15.0,0.0,651.0,55.0,4.0,0.0,0.00,0.0,0.0,0.000000e+00
South America,757488,37855.0,36733.0,1303.0,320777.0,399978.0,11077.0,20427.0,563.40,3861775.0,272682.0,4.304311e+08

In [67]:
df_continent = pd.DataFrame(data = frame.values,columns=frame.keys(),index=sorted(df['continent'].unique()))
df_continent.to_csv (r'Continent.csv')

### 3 : Thống kê trung bình , độ lệch chuẩn , min,max và các khoảng phân vị

In [72]:
df1.describe().style.background_gradient(cmap='Reds').format("{:.3f}")

##### Nhận xét: 
> Có thể thấy các thuộc tính "total_cases" , "active cases", "total_test" có khoảng giá trị lớn, biến động nhiều.
Hơn nữa độ lệch chuẩn std rất lớn , do đó tồn tại những quốc gia mà giá trị của những thuộc tính trên rất cao so
với phần còn lại ( Mỹ , Nga ,brazil,..). Đây là những nước có ngoại vi mạnh (outlier) nên cần chú ý trong việc trực quan hóa

### 4 : sự tương quan giữa các trường dữ liệu của đất nước và khu vực

In [73]:
df1.corr()

,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,serious,cases/1M_pop,deaths/1M_pop,total_tests,tests/1M_pop,population
total_cases,1.000000,0.813610,0.938453,0.837884,0.940012,0.981417,0.898163,0.186893,0.248546,0.914538,0.074907,0.260780
new_cases,0.813610,1.000000,0.712613,0.931414,0.784108,0.796090,0.887526,0.162143,0.135008,0.664624,-0.000440,0.295701
total_deaths,0.938453,0.712613,1.000000,0.801128,0.912235,0.914042,0.809249,0.208697,0.389328,0.828226,0.094799,0.203069
new_deaths,0.837884,0.931414,0.801128,1.000000,0.789062,0.822422,0.862954,0.158705,0.242812,0.658622,0.023261,0.314850
total_recovered,0.940012,0.784108,0.912235,0.789062,1.000000,0.857879,0.830767,0.203855,0.282830,0.895805,0.093668,0.320922
active_cases,0.981417,0.796090,0.914042,0.822422,0.857879,1.000000,0.892954,0.156404,0.175279,0.882908,0.051998,0.218788
serious,0.898163,0.887526,0.809249,0.862954,0.830767,0.892954,1.000000,0.112468,0.134213,0.778785,0.002244,0.426928
cases/1M_pop,0.186893,0.162143,0.208697,0.158705,0.203855,0.156404,0.112468,1.000000,0.675861,0.186570,0.534002,-0.054777
deaths/1M_pop,0.248546,0.135008,0.389328,0.242812,0.282830,0.175279,0.134213,0.675861,1.000000,0.232596,0.317599,-0.025807
total_tests,0.914538,0.664624,0.828226,0.658622,0.895805,0.882908,0.778785,0.186570,0.232596,1.000000,0.151435,0.370463
tests/1M_pop,0.074907,-0.000440,0.094799,0.023261,0.093668,0.051998,0.002244,0.534002,0.317599,0.151435,1.000000,-0.096391
population,0.260780,0.295701,0.203069,0.314850,0.320922,0.218788,0.426928,-0.054777,-0.025807,0.370463,-0.096391,1.000000

##### Nhận xét : 
> Nhìn vào bảng dữ liệu tương quan có thể thấy hầu hết các trường dữ liệu đều tỉ lệ thuận với nhau

*Theo khu vực*

In [74]:
df_continent.iloc[:, 0:7].corr().style.background_gradient(cmap='Reds').format("{:.3f}")

##### Nhận xét: 
> Thống kê theo khu vực cũng thể hiện sự tương quan dữ liệu cao